service-account-key.json
.env
*.log

# Wird von der App Engine selbst installiert. 
# Das Hochladen kann Deployment-Zeit sparen.
node_modules/

# Standard-Ignorierungen aus .gitignore
# Fügen Sie hier alle weiteren lokalen, irrelevanten Dateien ein
.git/
.gitignore
.gcloudignore 
.vscode/ 
npm-debug.log